html,body {
    height: 100%;
    margin: 0%;
    background-color: #003366;
    color: #FFF;
}
#wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: bold small-caps normal 20px sans-serif;
}
#timer {
    font: bold 250px sans-serif;
    line-height: 0px;
}
#button-list {
    list-style: none;
    padding: 0px;
}
#button-list li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    padding: 0px;
}
button {
    height: 40px;
    min-width: 100px;
    font: bold 20px sans-serif;
    color: #725208;
    background-color: #F2BF49;
    border: none;
}
button:hover {
    background-color: #F4CC6E;
}